# Unity生成的临时文件
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Oo]bj/
[Mm]emoryCaptures/
UserSettings/
sysinfo/

# Unity Cache
/[Uu]serSettings/
*/[Uu]serSettings/

# Rider / VS / VSCode / JetBrains
.vs/
.idea/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.suo
*.userprefs

# Crashlytics / Cloud / Analytics
CrashReports/
*.dmp
*.stacktrace

# Generated build assets
*.apk
*.aab
*.ipa
*.app
*.exe
*.dll
*.pdb
*.mdb

# Unity Cloud build
/[Bb]uildArtifacts/
